<form method="POST" action="/storage/createProduct">
    <input type="text" name="title" placeholder="digite o nome do produto">
    <input type="text" name="description" placeholder="Digite a descrição">
    <input type="number" name="quantity" placeholder="Digite a quantidade">

    <input type="submit" name="submit">    
</form>